<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Mark v2.0{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <p>This is:</p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
