@charset "UTF-8";
/**
 *
 * @authors Leonard LEPADATU (lepadatu.leonard-ext@groupehn.com)
 * @date    2015-05-28 16:10:28
 * @version $Id$
 */
#wrap {
	position: relative;
}

#login {
	position: fixed;
	left: 50%;
	top: 30%;
}