security:

    providers:
        users_entity:
            entity:
                class: MarkLoginBundle:Users
                property: username
    encoders:
        Mark\LoginBundle\Entity\Users: bcrypt

    role_hierarchy:
        ROLE_ADMIN: ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITH]

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt|error)|css|images|js)/
            security: false

        resticted_area:
            pattern: ^/
            anonymous: ~
            provider: users_entity
            form_login:
                login_path: _login
                check_path: _login_check
                failure_path: _login_failure
                default_target_path: _login_succeded
            logout:
                path: /logout
                target: /

    access_control:
        - { path: ^/$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/_wdt, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/_profiler, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/secured_areea_admin, role: ROLE_ADMIN }
        - { path: ^/secured_areea_common, role: ROLE_USER }