services:

    security.authentication_utils:
        class: Symfony\Component\Security\Http\Authentication\AuthenticationUtils
        arguments: ["@request_stack"]

    general.actions:
        class: Mark\GeneralBundle\Utils\Actions
        arguments: [@doctrine.orm.entity_manager]

    user.general_utils:
        class: Mark\GeneralBundle\Utils\UserActions
        arguments: [@doctrine.orm.entity_manager, @user.loggeduser_utils]

    user.loggeduser_utils:
        class: Mark\GeneralBundle\Utils\UserLogged
        arguments: [@security.token_storage]
