{% if _error %}
	<div>{{ _error.messageKey|trans(_error.messageData, "security") }}</div>
{% endif %}

<form action="{{ path("_login_check") }}" method="post">
	<label for="username">Email:</label>
	<input type="text" name="_username" id="username" value={{ _username }}>

	<label for="password">Password:</label>
	<input type="password" name="_password" id="password">

	<button type="submit">Login</button>
</form>