{% block ajax_preloader %}
<div id="ajax-preloader">
	{% image "@MarkGeneralBundle/Resources/public/images/ajax-preloader.gif" %}
		<img src="{{ asset_url }}" alt="Loading..."/>
	{% endimage %}
</div>
{% endblock %}
{% block javascripts %}
		$().ajaxSend(function(event, request, settings){
			$("#ajax-loading").show();
		});
		$().ajaxComplete(function(event, request, settings){
			$("#ajax-loading").hide();
		});
{% endblock %}