@charset "UTF-8";
/**
 * 
 * @authors Leonard LEPADATU (lepadatu.leonard-ext@groupehn.com)
 * @date    2015-06-02 17:25:47
 * @version $Id$
 */

.navbar-xs .navbar { min-height:45px !important; height: 45px !important; border-radius: 0px !important;}
.navbar-xs .navbar .navbar-brand{ padding: 0px 12px !important; font-size: 16px !important; line-height: 35px !important; }
.navbar-xs .navbar .navbar-nav > li > a {  padding-top: 4px !important; padding-bottom: 4px !important; line-height: 35px !important; }