/**
 *
 * @authors Leonard LEPADATU (leonardlepadatu@yahoo.com)
 * @date    2015-05-28 16:10:28
 * @version $Id$
 */

#ajax-preloader{
	position: absolute;
	display: none;
	visibility: hidden;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 800px;
	text-align: center;
	padding-top:50%;
}

 .addaction {
	color: #3E9626 !important;
	text-decoration: none !important;
 }

 .addaction:hover {
	color: #6A9B5D !important;
 }

 .addaction:focus {
	outline: none !important;
	outline-offset: none !important;
 }

 .editaction {
	text-decoration: none !important;
 }

 .deleteaction {
	color: #B73333 !important;
	text-decoration: none !important;
 }

 .deleteaction:hover {
	color: #B97777 !important;
 }

 .yield-parent{
	border-color: #e86666 !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(232,102,102,.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(232,102,102,.6) !important;
 }

 .yield{
	line-height: 10px;
	font-size: 12px;
	color: #a02020;
	margin: 5px 0 -10px 0;
 }

 .fade {
	opacity: 0;
	-webkit-transition: opacity .05s linear !important;
	-o-transition: opacity .05s linear !important;
	transition: opacity .05s linear !important;
 }

 .radion-group-inline{
	padding-left:0 !important;
 }

 .radio-group-inline > .radio{
	display: inline-block !important;
	margin-right: 20px !important;
 }